<main id="MainContent">
    <section id="shopify-section-template--18251728552211__main">
    <p>Hey there! 👋 Thanks so much for your order ☺️ If you're not 100% satisfied with your purchase, we're here to help.</p>
    <p> </p>
    </section>
    <section>
    <h3>Lost or Damaged Items</h3>
    <p>In the rare circumstance that your order is lost or damaged/faulty, please notify us immediately and we will send you a replacement free of charge.</p>
    <p> </p>
    </section>
    <section>
    <h3>Cancellations</h3>
    <p>Once your order has been shipped, it can no longer be cancelled.</p>
    <p> </p>
    </section>
    <section>
    <h3>Returns</h3>
    <p>You may return your order for a full refund within 30 calendar days of receiving the item, provided that the products meet the following conditions:</p>
    <ol>
    <li>The product must remain unused and must be in the same condition as it was when you received it.</li>
    <li>The product must be returned in its original packaging.</li>
    </ol>
    <p>Regarding orders with multiple items, you may also receive a partial refund for one or more of the items so long as they comply with the conditions listed above. <span style="color: #000000;">${storename}</span> will not be responsible for the cost of returns.</p>
    <p> </p>
    </section>
    <section>
    <h3>Return Procedure</h3>
    <ol>
    <li>Contact us at <span style="color: #0e0e0e;">${email}</span> and provide us with your order number.</li>
    <li>Once the return has been approved, you may ship the item back to us using a courier of your choice.</li>
    <li>After the return has been shipped, kindly provide us with the proof of shipment.</li>
    <li>Once the item has been received and inspected, we will process your refund and your funds will be credited in 3-5 days.</li>
    </ol>
    <p><span style="color: #000000;">${storename}</span> cannot bear responsibility for any order that could not be delivered due to the refusal of the parcel by the recipient.</p>
    <p> </p>
    </section>
    <section>
    <h3>Customer Support</h3>
    <p>If you have any questions about our refunds and returns policy, please contact us at <span style="color: #0e0e0e;">${email}</span>. Most emails and customer messages will be replied to within 12 hours. During peak periods, please allow up to 24 hours for us to respond to your query.</p>
    </section>
    </main>